/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilitis */
.pd50 {
    padding: 50px;
}

/* Generals */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}


/* Header */
.header-tp {
    background-color: skyblue;
    padding: 20px;
}

.header-tp-container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 50px;
    background-color: goldenrod;
    display: flex;
}

.logo {
    flex-basis: 20%;
    border: 1px dashed black;
}

.link {
    flex-basis: 60%;
    border: 1px dashed black;
}

.log {
    flex-basis: 20%;
    border: 1px dashed black;
}

.header-btm {
    background-color: blue;
    display: flex;
}

.header-btm-container {
    flex-basis: 800px;
    min-height: 400px;
    margin: 50px auto;
    background-color: pink;
    border: 1px dashed black;
}

/* Main */
.white-section {
    background-color: #fff;
}

.gray-section {
    background-color: gray;
}

.large-column {
    flex-basis: 65%;
    height: 600px;
    margin: 50px auto;
    background-color: skyblue;
    border: 1px dashed black;
}

.small-column {
    flex-basis: 35%;
    height: 600px;
    margin: 50px auto;
    background-color: pink;
    border: 1px dashed black;
}

.container-xl {
    background-color: green;
    min-height: 800px;
    max-width: 1200px;
    margin: auto;
    border: 1px dashed black;
}

/* Footer */
footer {
    background-color: #23272a;
    min-height: 700px;
    margin: 0 auto;
}

.main-footer {
    max-width: 1200px;
    margin: auto;
    border: 1px dashed white;
    display: flex;
}

.footer-column-small {
    flex-basis: 25%;
    height: 600px;
    margin: 50px auto;
    background-color: pink;
    border: 1px dashed black;
}

.footer-column-large {
    flex-basis: 75%;
    height: 600px;
    margin: 50px auto;
    background-color: skyblue;
    border: 1px dashed black;
}